<template>
  <div id="app" >
    <div id = "box" ref="box">
      <div v-for="item in boxes" :key= "item.id" class = "row nopadding squareBox">
          <div v-for="attr in item" :key = "attr.id" v-bind:style="{ height: squareWidth + 'px', width: squareHeight + 'px', 'background-color': attr['background-color'] }" class = "boxes">
          </div>
      </div>
    </div>
    <div class = "row">
       <div class = "col-lg-12" style ="font-size: 18px">{{ formatSeconds(tick) }}</div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'App',
  data () {
    return {
      boxes: [],
      width: 0,
      heigth: 0,
      constantValue: 100,
      tick: 1.00,
      x: 0,
      y: 0,
      plotsMade: 0,
      squareWidth: 0,
      squareHeight: 0,
      lastY: 0,
      tenthPercent: 0,
      divTen: 10,
      isBool: true
    }
  },
  methods: {
    getBoxProperties () {
      let box = this.$refs.box
      this.heigth = box.clientHeight
      this.width = box.clientWidth
    },
    reDraw () {
      var inPiece = this.constantValue
      this.tenthPercent = inPiece / this.divTen
      var squareWidth = this.width / inPiece
      var squareHeight = this.heigth / inPiece
      this.squareHeight = squareHeight
      this.squareWidth = squareWidth
      for (var y = 0; y < inPiece; y++) {
        var squares = []
        for (var x = 0; x < inPiece; x++) squares.push({ 'background-color': `#fff` })
        this.boxes.push(squares)
      }
      this.lastY = inPiece
    },
    addPiece () {
      var addedPiece = this.tenthPercent
      this.constantValue = this.constantValue + addedPiece
      var inPiece = this.constantValue
      var squareWidth = this.width / inPiece
      var squareHeight = this.heigth / inPiece
      this.squareHeight = squareHeight
      this.squareWidth = squareWidth
      this.drawFunction(addedPiece, this.constantValue)
    },
    drawFunction (addedRows, inPiece) {
      var lastRow = this.boxes.length - 1

      for (var c = 0; c < this.divTen; c++) this.boxes[lastRow].push({ 'background-color': `#fff` })

      for (var y = 0; y < addedRows; y++) {
        var squares = []
        for (var x = 0; x < inPiece; x++) squares.push({ 'background-color': `#fff` })
        this.boxes.unshift(squares)
      }
    },
    printBoxes () {
      let consVal = this.constantValue
      let min = consVal - 1
      for (var x = min; x >= 0; x--) this.boxes[x][0]['background-color'] = '#000'
    },
    addTicks (x = null, y = null) {
      const self = this
      self.x = (x == null) ? this.constantValue - 1 : x
      self.y = (y == null) ? 0 : y
      var interval = setInterval(function () {
        if (self.plotsMade < self.boxes.length) {
          self.tick = self.tick + 0.01
          self.boxes[self.x][self.y]['background-color'] = '#000'
          self.x--
          self.y++
          self.plotsMade++
        } else {
          self.addPiece()
          self.addTicks(self.divTen, self.y - 1)
        }
      }, 100)
    },
    formatSeconds(value) {
        return value.toFixed(2)
    }
  },
  created: function () {
    let self = this
    this.$nextTick(function () {
      self.getBoxProperties()
      self.reDraw()
      self.addTicks()
    })
  }
}
</script>
<style>
#app {
  margin-left: 100px;
}
#box {
  height: 500px;
  width: 500px;
}

.nopadding {
  padding: 0 0 0 0 !important
}

.boxes {
  display:inline;
  float:left;
}

.squareBox:last-child {
  border-bottom: 1px solid grey;
}

.boxes:first-child {
  border-left: 1px solid grey;
}

.squareBox:last-child > .boxes:nth-child(9n) {
  border-right: 1px solid grey;
}

.squareBox:nth-last-child(9n) > .boxes:first-child{
  border-top: 1px solid grey;
}

</style>
