<template>
  <div id="app" ref = "box">
     <div id = "box" ref = "box">
       <div v-for="attr in boxes" :key = "attr.id" v-bind:style="{ height: boxHeight + 'px', width: boxWidth + 'px', left: attr.left + 'px', bottom: attr.bottom + 'px' }" v-bind:class="[attr.class]"></div>
     </div>
     <div>
       <h5>{{ seconds }}</h5>
     </div>
  </div>
</template>
<script>
export default {
  name: 'App',
  data () {
    return {
      parentHeight: 0,
      parentWidth: 0,
      boxes: [],
      boxHeight: 0,
      boxWidth: 0,
      percentage: 100,
      seconds: 0,
      padding: 0
    }
  },
  methods: {
    getParentProp () {
      var box = this.$refs.box
      this.parentHeight = box.clientHeight
      this.parentWidth = box.clientWidth
      this.boxHeight = this.parentHeight / this.percentage
      this.boxWidth = this.parentHeight / this.percentage
      this.padding = (this.boxWidth + this.boxHeight) / 2 
    },
    generateBoxes: function (left, bottom, _class = "absolute") {
      this.boxes.push({ left: left, bottom: bottom, class: _class })
      if(left > 0 || bottom > 0) this.boxes.push({ left: left, bottom: bottom - this.boxWidth, class: _class })
    },
    generateLine : function (left, bottom) { 
      this.generateBoxes(left, bottom)
    },
    timer: function () {
     let self = this
     var interval = setInterval(function () {
       if (self.seconds == self.percentage) {
         self.percentage++
         self.getParentProp()
       }
       var left = self.seconds * self.boxWidth
       var bottom = self.seconds * self.boxHeight 
       self.generateLine(left, bottom)
       self.seconds++ 
       if(self.seconds > 200) clearInterval(interval)
     }, 100)
    }
  },
  created: function () {
    let self = this
    this.$nextTick(function () {
      self.getParentProp()
      self.timer()
      //self.generateBoxes(0)
      //self.generateBoxes(1)
    })
  }
}
</script>
<style>
#box {
  position: relative;
  height: 500px;
  width: 500px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.absolute {
  position: absolute;
  background-color: black;
}
</style>
